<nav class="navbar navbar-inverse navbar-static-top">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="about" routerLinkActive="active">About</a></li>
          <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
          <li><a routerLink="term" routerLinkActive="active">Terms</a></li>
        </ul>
      </div>
</nav>
