<div class="jumbotron">
    <div class="row">
      <div class="col-md-3">
        <img width="150" alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>
      <div class="col-md-9">
        <h1>Angular app</h1>
        <h2>BTI425 Winter 2020 - Assignment 2</h2>
      </div>
    </div>
  </div>
  <!-- Body content -->
  <div class="row">
    <div class="col-md-6">
      <p>The app’s purpose is to define or translate the English-language terminology we use in the 
        computer programming courses in the School of SDDS, for use by all students, whether or not 
        English is a student’s first language.</p>

        <p>We have so many students who are learning English and computer programming at the same 
        time, and that is a challenging combination. The technical terminology is often unclear, 
        complicated, and sometimes isn’t explained well. For example, when we say “asynchronous”, 
        what does it clearly mean in English, as well as in a student’s first language? </p>
    </div>

    <div class="col-md-6">
        <p>A web API will hold the data for the app. To enable scale and crowd-sourcing of data, the professors will 
        also publish a web API that will be designed to aggregate (with some data entry done by you) the terms that 
        each student enters, for the benefit of ALL students.</p>

        <p>The web API will be posted to Heroku and Atlas, and will provide the data for the Angular app. The Angular app
         will also be deployed to a public host (Heroku), so that you can deliver it to other devices (including, for example,
          your smartphone).</p>
        
        <p><a href="https://immense-mesa-91488.herokuapp.com/">Link to web API, hosted on Heroku</a></p>
        <p><a href="">Link to app, hosted on Heroku</a></p>
    </div>
  </div>
